p {
    text-align: center;
}
 
em{
color: blueviolet;
 
}

.banner {
    width: 100%;
}

.beneficiosimg {
    width: 50%;
}

.beneficios {
    background: #ffffff ;
    padding: 20px;
}

.principal {
    background-color: #cccccc;
    padding: 30px;
}

.tituloCentralizado {
    
}
ul {display initial-block;
width: 20%;
margin-right: 15%;
vertical-align: top;}