p {
    text-align: center;
}
 body{
    background-color: #cccccc;

 }
em{
color: blueviolet;
 
}

.banner {
    width: 100%;
}

.beneficiosimg {
    width: 100%;
}

.beneficios {
    background: #ffffff padding-box;
}